<div class="col-xs-12">
	<div class="alert alert-success">Thanks for visiting! Feel free to create pull requests to improve the dashboard!</div>
	<div class="alert alert-danger">Found a bug? Create an issue with as many details as you can.</div>
</div>