<div class="col-lg-6">
  <div class="widget">
    <div class="widget-title">
      <i class="fa fa-plus"></i> Extras
      <button class="btn btn-sm btn-info pull-right">Button</button>
      <div class="clearfix"></div>
    </div>
    <div class="widget-body medium">
      <div class="message">
        This is a standard message which will also work the ".no-padding" class, I can also <span class="error">be an error message!</span>
      </div>
      <hr />
      <div class="message">
        <a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> is included, so you can use <a href="#" tooltip="I'm a tooltip!">tooltips</a> and all of the other native Bootstrap JS components!
      </div>
      <hr />
      <form class="form-horizontal" role="form">
        <div class="form-group has-feedback has-success">
          <label for="label" class="col-sm-2 control-label">Inline Form</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" />
            <span class="fa fa-key form-control-feedback"></span>
          </div>
          <div class="col-sm-5">
            <div class="input-mask">I'm an input mask!</div>
          </div>
          <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
              <span class="help-block form-group-inline-message">I'm a properly padded inline message!</span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>