<div class="col-lg-6">
  <div class="widget">
    <div class="widget-title">
      <i class="fa fa-cog fa-spin"></i> Weather
      <!-- <a href="http://tobiasahlin.com/spinkit/" target="_blank" class="pull-right">SpinKit</a> -->
    </div>
    <div class="widget-body medium">
      <div class="message">
        <%= @weather.html_safe %>
      </div>
    </div>
  </div>
</div>